python-dotenv
pypdf2
pytesseract
PyMuPDF
pdf2image
langchain-core==0.1.40
faiss-cpu
pypdf
tiktoken
streamlit
databutton
pysqlite3-binary
langchain-community
poppler-utils
reportlab
langchain-openai
openai==0.28.0
