python-dotenv
pypdf2
pytesseract
PyMuPDF
pdf2image
openai
pdfminer.six
tabula-py
langchain
langchain-openai
langchain-community
faiss-cpu
pypdf
tiktoken
streamlit
databutton
pysqlite3-binary
poppler-utils
reportlab
