python-dotenv
pypdf2
pytesseract
PyMuPDF
pdf2image
pdfminer.six
tabula-py
openai>=1.6.1
langchain==0.0.164  # or the latest version
langchain-openai>=0.0.3
langchain-community>=0.0.7
faiss-cpu
pypdf
tiktoken
streamlit
databutton
pysqlite3-binary
poppler-utils
reportlab
aiohttp
